body {
  background: url('../images/6.jpg') no-repeat fixed center center;
  background-size: cover;
  font-family: Montserrat;
}

.us-map {
  padding-top: 5%;
  padding-left: 24%;
  padding-right: 25%;
  position: sticky;
  position: fixed;
  fill: #8ccda9;
  -webkit-transition: -webkit-transform 500ms;
}

.stateBody:hover {
  fill: #ff656c
}

.countryBody:hover {
  fill: #ff656c
}

.world-map {
  position: relative;
  position: sticky
}

.popup {
  color: white;
  outline-color: black
}
