.navbar {
  margin-top: -5px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  color: rgb(6, 61, 57);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(8, 9, 80, 0);
}

.navbar li {
  float: left;
  display: block;
  color: rgba(88, 41, 154, 0.24);
  text-align: center;
  padding: 14px 16px;
  font-family: Montserrat;
  text-decoration: none;
}

.icon {
  height: 10%;
  width: 10%;
  padding-left: 0;
  margin-left: 0;
  margin-right: 95%;
}

.logoutButton:hover {
  color: rgb(45, 45, 45)
}
