.navbar {
  margin-top: -5px;
  display: inline;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  color: rgb(6, 61, 57);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(8, 9, 80, 0);
}

.navbar li {
  float: left;
  /* display: block; */
  color: #58299a3d;
  /* text-align: center; */
  padding-left: 1%;
  font-family: Montserrat;
  /* text-decoration: none; */
}

.icon {
  height: 10%;
  width: 10%;
  padding-left: 0;
  margin-left: 0;
  margin-right: 95%;
}

.logout:hover {
  color: red
}

