.navbar {
  display: inline;
  position: fixed;
  z-index: 999;
  left: 0;
  width: 30%
}

.navbar ul {
  color: rgb(6, 61, 57);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(8, 9, 80, 0);
}

.navbar li {
  float: left;
  color: #58299a3d;
  padding-left: 2%;
  font-family: Montserrat;
}

.icon {
  height: 50px;
  width: 50px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 95%
}


